#!/usr/bin/env -S goby_launch -p protobuf_example

gobyd
[env=GOBY_ROS_GATEWAY_PLUGINS=../../../build/goby_ros_examples/libgoby_ros_examples_protobuf.so, kill=SIGTERM,name=goby_ros_gateway] ros2 run goby_ros_gateway goby_ros_gateway -vv
[kill=SIGTERM] ./goby_publish_protobuf.sh
# [kill=SIGTERM,name=ros_pub] ros2 topic pub /protobuf_to_goby std_msgs/msg/String "data: '{\"a\":10, \"b\":9, \"c\": 8}'"
